/*
  Primary color: #FF6138
  Secondary color: #F4511E
  Button color: #FF5252
  Indigrients color: #928cf6
*/

* {
  /*border: 2px solid rgba(255, 0, 0, 0.55);*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ########## Grid layout ########## */
.row {
  display: flex;
  width: 100%;
}

.row::after {
  display: block;
  clear: both;
  content: "";
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.33%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

/* ########## Main page ########## */
body {
  max-width: 1024px;
  margin: 0 auto;
}

.main {
  background: linear-gradient();
  height: 100%;
}

nav {
  /* sizes */
  width: 100%;
  height: 135px;
  margin-top: 20px;
  display: flex;

  /* border */
  border-bottom: 5px solid #FF5722;
  border-radius: 40px 40px 0 0;
  box-shadow: 12px 6px 5px rgba(255, 97, 56, 0.3);

  text-align: center;
  background-color: #FF8A65;
}

nav .desktop {
  width: 100%;
}

@keyframes navButtonsIn {
  from { font-size: 27px; }
  to   { font-size: 30px;
         background-color: #ff764d;
         line-height: 4.5; }
}

@keyframes navButtonsOut {
  from { font-size: 30px;
         background-color: #ff764d;
         line-height: 4.5;}
  to   { font-size: 27px; }
}

nav .desktop a:hover {
  animation: navButtonsIn 0.5s both;
}

nav .desktop a[id="logo"] {
  animation: 0;
}

nav .desktop a {
  /* sizes */
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: auto;

  /* fonts */
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 5.1;
  color: #FFF;

  /* animations */
  animation: navButtonsOut 0.5s;
}

nav .desktop a:first-child {
  margin-left: 0;
  border-top-left-radius: 40px;
}

nav .desktop a:last-child {
  margin-right: 0;
  border-top-right-radius: 40px;
}

nav .mobile {
  display: none;
}

#logo {
  /* sizes */
  width:  110px;
  height: 110px;

  /* fonts */
  color: #FFF;
  font-family: 'Gloria Hallelujah', Arial, sans-serif;
  font-size: 1.9em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 3.2em;
  text-transform: none;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.35);

  box-shadow: 6px 2px 0 1px rgba(0, 0, 0, 0.1);
  border: 7px solid rgb(231, 52, 40);
  background-color: rgb(231, 78, 44);
  border-radius: 100%;
}

/* ########## Registration form ########## */
.registerForm {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #FFC107;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.20);
}

.registerForm h1, .registerForm h3 {
  color: #FFF;
  font-family: arial;
  font-weight: bold;
  text-shadow: -1px -1px #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
}

.registerForm h3 {
  margin: 8px 10px 0 50px;
}

.registerForm .inputbox {
  border: none;
  padding-left: 10px;
  border-radius: 20px;
}

/* ########## PROMO IMAGES ########## */

.promo {
  height: 350px;
}

.images .pepperoni {
  /* sizes */
  width: 95%;
  height: auto;
  margin: 20px;

  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

img.discount {
  /* sizes */
  width: 235px;
  margin-top: 20px;
  margin-left: 20px;

  filter: drop-shadow(12px 12px 5px rgba(0, 0, 0, 0.6));
  position: absolute;
  z-index: 2;
}

/* ########## PROMO DETAILS ########## */

.promo .details {
  /* sizes */
  width: 50%;
  height: 90%;
  padding: 35px 0 0 35px;
  float: right;

  /* fonts */
  font-family: 'Roboto', Arial, sans-serif;
}

.promo .details h3 {
  /* sizes */
  margin-top: 20px;
  margin-bottom: 8px;
}

.details .indigrients li {
  /* sizes */
  margin: 2px 0;
  padding: 10px;

  /* fonts */
  font-size: 1.07em;
  font-style: uppercase;
  color: #fff;
  text-shadow: 0 1px grey;

  border-radius: 4px;
  background-color: #928cf6;
  display: inline-block;
}


/* ########## Promo Buy Buttons ########## */

.row.buyPromo {
  margin: 20px 0;
  width: 100%;
  height: 100px;
}

.buyPromo a, .buyPromo a {
  /* sizes */
  width: 45%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  /* fonts */
  font-family: 'Ubuntu Condensed', courier, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
  color: #FFF;

  /* Animation */
  animation: buttonHoverOut 0.2s;
  position: relative; /* for animation to work */
  top: 0;

  background-color: #FF5252;
  border-radius: 16px;
  box-shadow: 6px 6px #E53935;
}

.buyPromo a:nth-child(1) {
  margin: 0;
}

/* ########## Animations ########## */

@keyframes buttonHoverIn {
  from {top: 0px; left: 0px; box-shadow: 6px 6px #E53935;}
  to   {top: 6px; left: 6px; box-shadow: 0px 0px #E53935;}
}

@keyframes buttonHoverOut {
  from {top: 6px; left: 6px; box-shadow: 0px 0px #E53935;}
  to   {top: 0px; left: 0px; box-shadow: 6px 6px #E53935;}
}

a.button1:hover {animation: buttonHoverIn 0.2s both;}
a.button2:hover {animation: buttonHoverIn 0.2s both;}

/* ########## Orders ########## */

.pizzaImg img {
  /* sizes */
  width: 100%;
  height: auto;
  padding: 0 20px;
  margin: 15px auto;
  margin-bottom: 30px;
}

.pizza {
  /* sizes */
  width: 29%;
  margin: auto;
  padding: 10px;
  display: block;
  clear: both;

  /* fonts */
  text-align: left;
  text-align: center;

  /* borders */
  border: 4px solid #FF8A65;
  border-radius: 25px;

  background-color: #FFF;
}

@keyframes buyHoverIn {
  from {background-color: #FF8A65;}
  to   {background-color: #FFF;}
}

@keyframes buyHoverOut {
  from {background-color: #FFF;}
  to   {background-color: #FF8A65;}
}

.pizza .pricing {
  width: 100%;
}

.pizza a {
  /* sizes */
  display: block;

  /* fonts */
  color: #000;
  font-family: "Roboto Condensed", Times;
  font-size: 1.5em;
  line-height: 1.75em;
  text-align: center;
  text-decoration: none;

  /* animations */
  animation: buyHoverOut;
  animation-duration: 0.5s;
  background-color: #FF8A65;

  border-left: 3px solid #FF8A65;
  border-right: 3px solid #FF8A65;
}

.pizza a:nth-last-child(1) {
  border-bottom: 3px solid #FF8A65;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pizza a:nth-last-child(3) {border-top: 3px solid #FF8A65;}

.pizza a:hover {animation: buyHoverIn 0.5s both;}

/* ####################################### */
/* ########## Tablet responsive ########## */
/* ####################################### */

@media screen and (max-width: 980px) {
  .registerForm {
    display: none;
  }

  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promo .details h3,
  .promo .details .indigrients {
    display: none;
  }

  .promo .discount {
    display: block;
    width: 20%;
  }

  .row.buyPromo {
    position: relative;
    top: 10%;
    left: 1%;
  }

}
/* ####################################### */
/* ########## Mobile responsive ########## */
/* ####################################### */

@media screen and (max-width: 720px) {
  body {
    padding-top: 68px;
  }

  nav {
    height: 68px;
    padding: 0;
    margin: 0;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 10;
    border-radius: 0;
    border-bottom-width: 3px;
  }

  nav .desktop {
    width: auto;
  }

  nav .desktop a {
    display: none;
  }

  nav .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  nav .mobile a {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;

    /* fonts */
    font-family: 'Ubuntu Condensed', Arial, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.8;
    text-shadow: 0 2px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: #FFF;
  }

  nav .mobile img {
    width: 21px;
    height: auto;
    margin-bottom: 3px;
    filter: invert(100%) drop-shadow(0 2px rgba(0, 0, 0, 0.4));
  }

  #logo {
    width: 58px;
    height: 58px;
    font-size: 1em;
    border-width: 4px;
    display: block;
    float: left;
    margin: 3px;
  }

  .promo {display: block; height: auto;}

  .images {
    /* sizes */
    width: 100%;
    height: auto;
    display: block;
  }

  .images .pepperoni {
    border-radius: 0px;
    width: 100%;
    margin: 0;
  }

  img.discount {
    display: block;
    width: 150px;
    height: auto;
    margin: 0;
  }

  .promo .details {height: 150px; padding: 15px;}

  .promo .details h1 {
    font-size: 1.5em;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .promo .details h3, .promo .details .indigrients {display: none;}

  .promo .buyPromo {height: 70%; margin: 12px 0;}
  .promo .buyPromo a {margin: 0 auto; font-size: 1.3em;}

  .orders {
    display: block;
    margin: 12px 0 0 0;
    height: 80%;
  }

  .col-6.details, .col-6.img {
    display: block;
    width: 100%;
    clear: both;
  }

  .orders { margin-top: 60px; }

  .pizza {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: left;
    border: 0;
    border-radius: 0;
    border-top: 4px dashed #FF8A65;
  }

  .pizzaImg {
    width: 45%;
    height: auto;

    float: left;
  }

  .pizzaImg img {
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .pizza .pricing {
    display: block;
    width: 50%;
    height: 25%;
    float: right;
  }

  .orders .pizza a {
    display: block;
    width: 100%;
    height: 30%;
    line-height: 50px;

    font-size: 1.2em;
    border-radius: 0px;
  }

  .orders .pizza a:nth-child(1) { border-radius: 20px 20px 0 0; }
  .orders .pizza a:nth-child(3) { border-radius: 0 0 20px 20px; }













}
